@use "vars" as *;
.main-content{
    .hero-banner{
        margin-bottom: 50px;
    }
    .section{
        .section-title{
            text-align: start;
            font-size: 25px;
            border-bottom: 1.5px solid #0064b4;
            color: #0064b4;
        }
        &.sub{
            .section-title{
                margin-bottom: 20px;
            }
        }
        &.third{
            margin-bottom: 30px;
            & > .sub-section{
                flex-direction: column;
                border: none;
                padding: 0;
                align-items: initial;
                background: #e6f5fa;
                .sub-title{
                    margin: 0;
                    color: #fff;
                    background: #0064b4;
                    padding: 15px 20px;
                    border-radius: 10px 10px 0 0;
                }
                .test-categories{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 0 30px 30px 30px;
                    .test-category{
                        display: flex;
                        gap: 30px;
                        padding: 30px 30px 25px 30px;
                        align-items: center;
                        border: none;
                        .txtconts{
                            display: flex;
                            flex-direction: column;
                            .category-name{
                                color: #0064b4;
                                font-size: 18px;
                                line-height: calc(31.5 / 18);
                                border-bottom:  none;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            .category-desc{
                                font-size: 16px;
                                line-height: calc(28 / 16);
                            }
                        }
                        &:nth-of-type(1){
                            .imgflame{
                                height: 54px !important;
                                width: 78px !important;
                                min-height: 54px !important;
                                min-width: 78px !important;
                            }
                        }
                        &:nth-of-type(2){
                            .imgflame{
                                height: 78px !important;
                                width: 60px !important;
                                min-height: 78px !important;
                                min-width: 60px !important;
                            }
                        }
                        &:nth-of-type(3){
                            .imgflame{
                                height: 78px !important;
                                width: 78px !important;
                                min-height: 78px !important;
                                min-width: 78px !important;
                            }
                        }
                        .imgflame{
                            display: block;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }// test-category
                }
                .flexbox{
                    display: flex;
                    gap: 30px;
                    padding: 25px 30px;
                    background: #fff;
                    margin: 0 30px;
                    margin-bottom: 30px;
                    border-radius: 10px;
                    align-items: center;
                    .imgflame{
                        width: 79px !important;
                        height: 86px !important;
                        min-width: 79px !important;
                        min-height: 86px !important;
                        display: block;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                    .txtconts{
                        .section-content{
                            font-size: 16px;
                            line-height: calc(28 / 16);
                        }
                    }
                }
            }// sub-section
            .section-title{
            }
        }
        // サブセクション
        .sub-section{
            background-color: transparent;
            border: 1.5px solid #0064b4;
            display: flex;
            gap: 30px;
            align-items: center;
            padding: 25px 30px;

            .imgflame{
                display: block;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &:nth-of-type(1){
                .imgflame{
                    min-width: 91px;
                    min-height: 79px;
                    max-width: 91px;
                    max-height: 79px;
                }
            }
            &:nth-of-type(2){
                .imgflame{
                    min-width: 82px;
                    min-height: 79px;
                    max-width: 82px;
                    max-height: 79px;
                }
            }
            &:nth-of-type(3){
                .imgflame{
                    min-width: 90px;
                    min-height: 78px;
                    max-width: 90px;
                    max-height: 78px;
                }
            }
            .txtconts{
                max-width: 575px;
                .sub-title{
                    font-size: 18px;
                    line-height: calc(31.5 / 18);
                    margin-top: 0;
                    margin-bottom: 5px;
                    padding: 15px 20px;
                    color: #0064b4;
                }
                .section-content{
                    font-size: 16px;
                    line-height: calc(28 / 16);
                }
            }
        }
    }
    .cta-banner{
        background: #fffadc;
        border: none;
        .cta-title{
            font-size: 25px;
            line-height: calc(43 / 25);
            color: #0064b4;
        }
        .cta-text{
            font-size: 16px;
            line-height: calc(28 / 16);
            text-align: left;
            border: none;
            background: #fff;
            font-weight: 500;
            padding: 25px 30px;
            .blue{
                color: #0064b4;
                font-weight: 600;
            }
        }
        .cta-button{
            background-color: #00beb4;
            font-size: 18px;
            max-width: 341px;
            max-height: 57px;
            width: 100%;
            height: 100%;
            padding: 14px 0;
            border-radius: 9999px;
            letter-spacing: -.025em;
            &:hover{
                background: #00a098;
                transition: 0.3s;
            }
        }
    }
    .tools-section{
        background-color: #e6f5fa;
        border: none;
        padding: 30px;
        margin-bottom: 50px;
        .tools-title{
            font-size: 25px;
            color: #0064b4;
            margin-bottom: 23px;
        }
        .tools-grid{
            gap: 30px;
            .tool-card{
                box-shadow: none;
                border: none;
            }
            .tool-name{
                font-size: 18px;
                color: #0064b4;
                margin-bottom: 15px;
            }
            .tool-button{
                background: #00beb4;
                border: none;
                font-size: 18px;
                max-width: 184px;
                max-height: 57px;
                width: 100%;
                height: 100%;
                border-radius: 0;
                text-align: center;
                padding: 14px 0;
                border-radius: 9999px;
                transition: .3s;
                &:hover{
                    background: #00a098;
                    transition: .3s;
                }
            }
        }
        .tool-features{
            .lists{
                display: flex;
                gap: 20px;
                justify-content: center;
                flex-wrap: wrap;
                .item{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    background: #e6f5fa;
                    padding: 20px 0;
                    width: 203px;
                    border-radius: 10px;
                    .imgflame{
                        display: block;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    &:nth-of-type(1){
                        .imgflame{
                            width: 74px;
                            height: 74px;
                        }
                    }
                    &:nth-of-type(2){
                        .imgflame{
                            width: 81px;
                            height: 73px;
                        }
                    }
                    &:nth-of-type(3){
                        .imgflame{
                            width: 80px;
                            height: 74px;
                        }
                    }

                    .ttl{
                        font-size: 16px;
                        font-weight: 600;
                        color: #0064b4;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .questions-section{
        .questions-grid{
            .question-card{
                background: #e6f5fa;
                // padding: 0;
                padding: 0 0 30px 0;
                border: none;
                border-radius: 0 0 10px 10px;
                    .question-title{
                        background: #0064b4;
                        color: #fff;
                        padding: 15px 30px;
                        margin-bottom: 20px;
                        border-radius: 10px 10px 0 0;
                    }
                    .question-text{
                        padding: 0px 30px;
                        margin-bottom: 30px;
                        .main-relation{
                            font-size: 16px;
                            line-height: calc(28 / 16);
                            padding: 0;
                            margin: 0;
                        }
                        .question-lists{
                            margin-top: 10px;
                            .question-line{
                                display: flex;
                                gap: 15px;
                                background-color: transparent;
                                border: none;
                                padding: 0;
                                margin: 0;
                                font-size: 16px;
                                padding-bottom: 10px;
                                border-bottom: 1px dashed #333;
                                align-items: center;
                                &:not(:nth-of-type(1)){
                                    margin-top: 10px;
                                }
                                .circle{
                                    display: inline-block;
                                    margin-left: 5px;
                                    position: relative;
                                    z-index: 1;
                                    color: #fff;
                                    font-weight: 600;
                                    height: fit-content;
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: -4px;
                                        background: #0064b4;
                                        height: 23px;
                                        width: 23px;
                                        border-radius: 9999px;
                                        z-index: -1;
                                    }
                                    &.en{
                                        &:after{
                                            left: -6.5px;
                                        }
                                    }
                                }
                            }
                        }
                        .select{
                            font-size: 16px;
                            margin-top: 20px;
                            color: #0064b4;
                            font-weight: 600;
                            border-bottom: 1.5px solid #0064b4;
                        }
                    }
                    .question-button{
                        font-size: 16px;
                        line-height: calc(28 / 16);
                        background: #00beb4;
                        max-width: 160px;
                        max-height: 45px;
                        height: 100%;
                        width: 100%;
                        border-radius: 9999px;
                        transition: 0.3s;
                        &:hover{
                            background: #00a098;
                            transition: 0.3s;
                        }
                    }
            }//question-card
        }
    }
}